<!DOCTYPE html> 
	<!-- ng-app creates an angular app by running the module -->
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	</head>

	<body ng-controller = "StoreController as store">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price  | currency}}</em>
				</h3>
			</li>
		</ul>

		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>

<!-- types of filters: 
date:  {{"1234567890" | date: "MM/dd/yyyy @ h_mma"}}  01/01/2016 @ 12:50AM 

upper- and lowercase: {{"octagon gem" | uppercase}}    OCTAGON GEM

limitTo: {{"My Description" | limitTo: 8}}  My Descr 
		<li ng-repeat="product in store.products | limitTo: 3"> 

orderBy: <li ng-repeat="product in store.products | orderBy:"-price""> 
-->